In [48]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [49]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [50]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [51]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
engine

Engine(sqlite:///Resources/hawaii.sqlite)

In [52]:
# reflect an existing database into a new model
#data = engine.execute("SELECT * FROM hawaii")
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [53]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [54]:
# Save references to each table
Measurement = Base.classes.measurement
#Measurement
Station = Base.classes.station
#Station

In [55]:
# Create our session (link) from Python to the DB
session = Session(engine)
session

# Exploratory Precipitation Analysis

In [56]:
# Find the most recent date in the data set.
most_recent = session.query(Measurement.date).order_by(Measurement.date.desc()).first() 

most_recent

('2017-08-23')

In [62]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
previous_year = dt.date(2017,8,23) - dt.timedelta(days=365)
#previous_year
# Perform a query to retrieve the date and precipitation scores
twelve_month_data = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= previous_year).all()
# SELECT date, prcp FROM Measurement WHERE date >= previous_year 
#twelve_month_data

# Save the query results as a Pandas DataFrame and set the index to the date column
date_df = pd.DataFrame(twelve_month_data, columns=['date','prcp'])
# date_df

# Sort the dataframe by date
date_df = date_df.sort_values('date')
# date_df
# Use Pandas Plotting with Matplotlib to plot the data

            date  prcp
0     2016-08-23  0.00
1009  2016-08-23   NaN
1529  2016-08-23  1.79
704   2016-08-23  0.05
361   2016-08-23  0.15
...          ...   ...
1527  2017-08-22  0.00
1008  2017-08-23  0.00
360   2017-08-23  0.00
1528  2017-08-23  0.08
2229  2017-08-23  0.45

[2230 rows x 2 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()